#education{
	.education-boxes {
		margin: 0 auto;
		margin-top: 2vh;
		width: 40vw;
		height: 40vh;
		min-width: 300px;
		min-height: 300px;
		//display: flex;
		//flex-direction: row;
		//flex-wrap: wrap;
		//justify-content: center;
		.fa{
			font-size: 2.0em;
			margin: 20px 5vw;
			&:hover{
				cursor: pointer;
				color: #00b371;
			}
		}
		.edu {
			outline-color:#00b371 !important;
			// display: flex;
			flex-direction: column;
			background: rgba(0, 0, 0, 0.1);
			margin: 10px;
			padding: 20px;
			text-align: left;
			height: 100%;
			overflow: auto;

			*{
				margin: 10px 0;
			}
			h3 {
				margin: 0;
				font-size: 1.7em;
				//text-decoration: underline;
			}
			h4{
				font-weight: 300;
				font-size: 1.5em;
			}
			h5{
				font-size: 1.4em;
				font-weight: 300;
				opacity: .9;
			}

			.stats{
				margin: 10px 0;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
				width: 100%;
				height: 1.5em;

				p{
					margin-top: 5px;
					font-weight: 300;
					font-size: 1.2em;
				}
			}

			&.skills{
				.skilllist{
					p{
						margin: 5px;
						padding: 10px;
						font-size: 1.2em;
						font-weight: 300;
						background: rgba(255, 255, 255, 0.3);
					}
				}
			}
			&.schools{
				.school{
					border-left: 5px solid rgba(255,255,255,0.3);
					padding-left: 10px;
				}
				.classes{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					text-align: left;
					p{
						margin: 5px;
						padding: 10px;
						font-size: 1.2em;
						font-weight: 300;
						background: rgba(255, 255, 255, 0.3);
					}
				}
			}
			&.work{
				.job{
					border-left: 5px solid rgba(255,255,255,0.3);
					padding-left: 10px;
				}
				.jobc{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					text-align: left;
					p{
						margin: 5px;
						padding: 10px;
						font-size: 1.2em;
						font-weight: 300;
						background: rgba(255, 255, 255, 0.2);
					}
				}
			}
			&.contests{
				.contest {
					h4 {
						border-left: 5px solid rgba(255, 255, 255, 0.3);
						padding: 5px 0;
						padding-left: 10px;
						margin: 10px 0;
					}
				}
			}
			&.other{
				.otherlist{
					h4 {
						border-left: 5px solid rgba(255, 255, 255, 0.3);
						padding: 5px 0;
						padding-left: 10px;
						margin: 10px 0;
					}
				}
			}
		}
	}
}
