#music{
	.allden-tracks {
		margin: 0 5vw;
		margin-top: 2vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.track {
			display: flex;
			flex-direction: row;
			background: rgba(0, 0, 0, 0.1);
			margin: 10px;
			min-height: 100px;
			min-width: 30vw;
			border-radius: 15vh;

			img {
				min-height: 100px;
				min-width: 100px;
				height: 15vh;
				width: 15vh;
				border-radius: 15vh;
			}
			.info {
				margin: 5px 1vw;
				padding: 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				text-align: left;
				font-weight: 300;
				border-radius: 15vh;

				h4{
					font-size: 1.5em;
				}
				p{
					font-size: 1.2em;
					font-style: italic;
					word-wrap: break-word;
				}
				.buttons{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: flex-start;
					font-size: 1.2em;

					span{
						margin: 0;
					}
					.music{
						width: 1.2em;
					}
					.music-bar{
						margin: auto 10px;
						max-width: calc(calc(100% - 1.2em) - 30px);
						height: 10px;
						border-radius: 10px;
						background: #3cacd7;
						border-right: 2px solid black;
					}
				}
			}
		}
	}
}
