#projects{
	.projects-list {
		margin: 0 5vw;
		margin-top: 2vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.project {
			display: flex;
			flex-direction: row;
			background: rgba(0, 0, 0, 0.1);
			margin: 10px;
			min-height: 100px;
			min-width: 30vw;

			img {
				min-height: 100px;
				min-width: 100px;
				height: 15vh;
				width: 15vh;
			}
			.info {
				margin: 5px 1vw;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				text-align: left;
				font-weight: 300;

				h4{
					font-size: 1.5em;
				}
				p{
					font-size: 1.2em;
					word-wrap: break-word;
				}
				.buttons{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					font-size: 1.2em;

					a {
						margin: 0;
					}
				}
			}
		}
	}
}
