$education: #00b371;
$projects: #35c3c0;
$music: #3cacd7;
$design:#488398;
$secondary: #f4f4f4;

@mixin respond-to($media){
    @if $media == mobile {
        @media only screen and (max-width: 850px) { @content; }
    }
}

html, body{
	margin: 0;
	background: $secondary;
}
h5,h4,h3,h2,h1,p,span{
	margin: 0;
	font-family:"Josefin Sans";
}
h1,h2,h3,h4,h5{
	font-weight: 400;
	font-style: normal;
}
*{
	transition: all 0.3s ease;
}

.view{
	text-align: center;
	min-height:100vh;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content{
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}
.container {
    display: table;
    width: 100%;
    height: 100%;
}
h1{
	font-size: 3.0em;
	padding-bottom: 3vh;
}
a{
	color:inherit;
	text-decoration: none;
	margin: 0;
}

.education{
	&:hover {
		cursor: pointer;
		color: $education;
		opacity: 1 !important;
	}
}
.projects{
	&:hover {
		cursor: pointer;
		color: $projects;
		opacity: 1 !important;
	}
}
.music{
	&:hover {
		cursor: pointer;
		color: $music;
		opacity: 1 !important;
	}
}
.design{
	&:hover {
		cursor: pointer;
		color: $design;
		opacity: 1 !important;
	}
}

.header{
	position:fixed;
	background: $secondary;
	top:0;
	width:100%;
	display: flex;
	height: 10vh;
	min-height: 50px;
	font-size: 2.0em;
	justify-content:space-between;
	font-weight: 400;
	font-style: normal;
	z-index: 100;
	span{
		line-height: 10vh;
		padding-left: calc(10vh / 2);
	}
	.pages{
		padding-right: calc(10vh / 2);
		span{
			padding:0;
			margin: 0 10px;
		}
	}

	@include respond-to("mobile"){
    	display: none;
    }
}
.social-icons{
	span{
		font-size: 2.0em;
		margin: 0 2vw;

		&:hover{
			cursor: pointer;
			opacity: .3;
		}
	}
}
.arrow-down{
	text-align:center;
	margin: 0 auto;
	font-size: 3.0em;
	position:relative;
	margin-top: -70px;
	transition: margin 0.3s ease;

	.fa-angle-double-down{
		&:hover{
			cursor: pointer;
			margin-top: -10px;
			opacity: .5;
		}
	}
}

.footer{
	text-align: center;
	padding: 20px 0;
	margin: 0 auto;
}

@import "home";
@import "education";
@import "music";
@import "projects";
@import "design";