DOCTYPE(html)
html
    head
        .meta(charset="utf-8")
        title="Andrew Wang"
        
        link(rel="shortcut icon" type="image/png" href="./favicon.png")

        //- CSS
        link(rel="stylesheet" type="text/css" href="./fonts/stylesheet.css")
        link(rel="stylesheet" type="text/css" href="./css/font-awesome.css")
        link(rel="stylesheet" type="text/css" href="./css/style.css")

        //- JS
        script(src="./js/jquery.js")
        script(src="./js/animations.js")
        script(src="./js/scripts.js")

    body
        //- span.fa.fa-circle-o-notch.fa-spin.fa-3x.fa-fw
        .header
            span Andrew Wang
            .pages
                span.projects projects
                span.music music
                span.design design

        .view#homepage
            .container
                .content
                    h1 Andrew Wang
                    .social-icons
                        a(href="mailto:andrewxiaoyu0@gmail.com", title="Email")
                            span.fa.fa-envelope
                        a(href="Resume.pdf", title="Resume")
                            span.fa.fa-file-pdf-o
                        a(href="https://www.linkedin.com/in/andrewxwang/", title="LinkedIn")
                            span.fa.fa-linkedin

        .view#projects
            h1 projects
            .social-icons
                a(href="https://github.com/w4v3s")
                    span.projects.fa.fa-github
            .projects-list
                .project
                    img(src="img/projects/dawn.png")
                    .info
                        h4 Dawn (v1)
                        p Database Search Engine
                        .buttons
                            a(href="http://dawn-search.herokuapp.com")
                                span.projects.fa.fa-external-link
                .project
                    img(src="img/projects/debrief.png")
                    .info
                        h4 Debrief (v2)
                        p Daily News Reports
                        .buttons
                            a(href="https://devpost.com/software/debrief")
                                span.projects.fa.fa-external-link
                .project
                    img(src="img/projects/foci.png")
                    .info
                        h4 Foci
                        p Music Curation Using Muse
                        .buttons
                            a(href="https://devpost.com/software/foci-y29n6b")
                                span.projects.fa.fa-external-link
                .project
                    img(src="img/projects/chromapulse.jpg")
                    .info
                        h4 Chromapulse
                        p Music Loop Generator
                        .buttons
                            a(href="http://chromapulse.herokuapp.com")
                                span.projects.fa.fa-external-link
                .project
                    img(src="img/projects/haven.png")
                    .info
                        h4 Haven (Beta)
                        p Project Manager
                        .buttons
                            p No Links
                .project
                    img(src="img/projects/tundra.png")
                    .info
                        h4 Tundra (Beta)
                        p Programming Notes
                        .buttons
                            p No Links

        .view#music
            h1 music
            .social-icons
                a(href="https://soundcloud.com/allden")
                    span.music.fa.fa-soundcloud
                a(href="https://open.spotify.com/artist/4drtOysPuPNEdiC0PNM6eo")
                    span.music.fa.fa-spotify
            .allden-tracks
                .track
                    img(src="img/music/thecloudscry.jpg")
                    .info
                        h4 The Clouds Cry (EDM)
                        p "The clouds cry, the gusts scream"
                        .buttons
                            audio(src='song/thecloudscry.mp3')
                            span(onclick="playMusic(this)").music.fa.fa-play
                            span.music-bar
                .track
                    img(src="img/music/upnext.jpg")
                    .info
                        h4 Up Next (Rap)
                        p "Nothing stoppin' us from being up next"
                        .buttons
                            audio(src='song/upnext.mp3')
                            span(onclick="playMusic(this)").music.fa.fa-play
                            span.music-bar
                .track
                    img(src="img/music/washedaway.jpg")
                    .info
                        h4 Washed Away (EDM)
                        p "All my worries are washed away"
                        .buttons
                            audio(src='song/washedaway.mp3')
                            span(onclick="playMusic(this)").music.fa.fa-play
                            span.music-bar
                .track
                    img(src="img/music/zephyr.png")
                    .info
                        h4 Zephyr (EDM)
                        p "Just to reach our home... find our home"
                        .buttons
                            audio(src='song/zephyr.mp3')
                            span(onclick="playMusic(this)").music.fa.fa-play
                            span.music-bar
                .track
                    img(src="img/music/allden.png")
                    .info
                        h4 Perfect Remix (Pop)
                        p Ed Sheeran - Perfect
                        .buttons
                            audio(src='song/perfect.mp3')
                            span(onclick="playMusic(this)").music.fa.fa-play
                            span.music-bar
                .track
                    img(src="img/music/allden.png")
                    .info
                        h4 Slow Hands Remix (Pop)
                        p Niall Horan - Slow Hands
                        .buttons
                            audio(src='song/slowhands.mp3')
                            span(onclick="playMusic(this)").music.fa.fa-play
                            span.music-bar

        .view#design
            h1 design
            .designs
                .des
                    img(src="img/design/augment.png")
                    .info
                        h4 Augment
                        p Concept
                .des
                    img(src="img/design/aura.png")
                    .info
                        h4 Aura
                        p Potential Startup
                .des
                    img(src="img/design/cubesat.png")
                    .info
                        h4 CubeSat
                        p Mission Patch
                .des
                    img(src="img/design/remora.png")
                    .info
                        h4 Remora
                        p Aerospace Startup
                .des
                    img(src="img/design/tidbits.png")
                    .info
                        h4 Tidbits
                        p Potential Startup

        .footer
            span &copy; Andrew Wang 2017. All Rights Reserved.
